<div class="nav">
    <div class="icon"><i class="fas fa-cloud-sun fa-lg"></i></div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/help">Help</a>
        <a href="/about">About me</a>
    </div>
</div>